$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$c1: #111111;
$c2: #039E1D;
$c3: #011627;
$c4: #30c5ff;
$c5: #fefdff;
$cw: $c5;
